.console-layout-tab__label {
  margin-left: 6px;
}

.console-layout-tab__icon {
  display: flex;
  align-items: center;
}

.console-layout-tab__close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  // padding: 2px;
  margin-left: 6px;
  &:hover {
    border-radius: 50%;
    cursor: pointer;
  }
  .anticon {
    font-size: 12px;
  }
}
