@import "@/styles/utils.less";

.console-layout__avatar {
  margin-inline-start: 6px;
  .anticon-user {
    font-size: 22px;
    margin-inline-end: 8px;
  }
}

.console-layout__avatar-click {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.console-layout__avatar-image-wrap {
  display: inline-block;
  inline-size: 42px;
  block-size: 42px;
  border-radius: 50%;
  padding: 4px;
  img {
    inline-size: 100%;
    block-size: 100%;
    padding: 4px;
  }
}

.console-layout__name {
  display: inline-block;
  inline-size: 60px;
  .ellipsis();
}
