.console-layout-tabs {
  display: flex;
  align-items: center;
  inline-size: calc(100% - 34px);
  padding-inline-end: 8px;
  user-select: none;
  margin-inline-start: 4px;
  &.CHROME {
    .ant-tabs-top > .ant-tabs-nav {
      &:before {
        border-block-end: none;
      }
    }
  }
  .ant-tabs {
    inline-size: 100%;
  }
  .ant-tabs-nav-list {
    position: relative;
    padding-block-start: var(--layout-gutter);
  }
  .ant-tabs-nav {
    margin-block-end: 0;
  }
}

.console-layout-tabs__popup {
  .ant-tabs-dropdown-menu-item > span > div {
    display: flex;
    align-items: center;
    svg {
      margin-inline-end: 4px;
    }
  }
}
