.console-layout__right-footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fff;
  .anticon, svg {
    margin: 0 4px;
  }
}
